<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>

<body>
    <header>
        <h1>Workout Blog Tracker</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/">Profile</a>
        <button class="login"></button>
    </nav>
    <main>
        <aside>
            <h2>insert something</h2>
        </aside>
        <div class="graph">
            <--Placeholder-->        
        </div>
    </main>
</body>

</html>