<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout Blog</title>
  {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
</head>

<nav>
    <a href="/home/">Home</a>|
    <a href="/profile/">My Profile</a>|
    <a href="/Login/">Login</a>|
    <a href="/signup/">Signup</a>|
    <a href="/logout/">Log Out</a>
</nav>

<body>

    <div>
        <header>

        <h1>Home Page</h1>

        </header>

        <main>
            {{{ body }}}
        </main>

        <footer>
        <p>Workout Tracker Blog 2023</p>
        </footer>
    </div>

</body>

</html>
